@font-face {
    font-family: Pacifica_Condensed_Regular;
    src: url(/Blog/main/fonts/Pacifica_Condensed_Regular.ttf) format('truetype');
}
@font-face {font-family: "Neue Haas Unica W06 Thin It";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_0ed68d0a6f9c1234e2d43bdd27b951f2/@font-face/3842220656142ccef91508c98b0eb6ed.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_0ed68d0a6f9c1234e2d43bdd27b951f2/@font-face/3842220656142ccef91508c98b0eb6ed.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_0ed68d0a6f9c1234e2d43bdd27b951f2/@font-face/3842220656142ccef91508c98b0eb6ed.woff2") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_0ed68d0a6f9c1234e2d43bdd27b951f2/@font-face/3842220656142ccef91508c98b0eb6ed.woff") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_0ed68d0a6f9c1234e2d43bdd27b951f2/@font-face/3842220656142ccef91508c98b0eb6ed.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_0ed68d0a6f9c1234e2d43bdd27b951f2/@font-face/3842220656142ccef91508c98b0eb6ed.svg#Neue Haas Unica W06 Thin It") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 X Black";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_3dad734723cd1eada75c00f4d4322909/@font-face/46ff6b5a1511006aeadd4a46a3efd9ae.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_3dad734723cd1eada75c00f4d4322909/@font-face/46ff6b5a1511006aeadd4a46a3efd9ae.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_3dad734723cd1eada75c00f4d4322909/@font-face/46ff6b5a1511006aeadd4a46a3efd9ae.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_3dad734723cd1eada75c00f4d4322909/@font-face/46ff6b5a1511006aeadd4a46a3efd9ae.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_3dad734723cd1eada75c00f4d4322909/@font-face/46ff6b5a1511006aeadd4a46a3efd9ae.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_3dad734723cd1eada75c00f4d4322909/@font-face/46ff6b5a1511006aeadd4a46a3efd9ae.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Regular";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7a298e4d1b42d5d0485b479c3bcf69bf/@font-face/7250d52844cced73ed70675d1b78c60c.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7a298e4d1b42d5d0485b479c3bcf69bf/@font-face/7250d52844cced73ed70675d1b78c60c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7a298e4d1b42d5d0485b479c3bcf69bf/@font-face/7250d52844cced73ed70675d1b78c60c.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7a298e4d1b42d5d0485b479c3bcf69bf/@font-face/7250d52844cced73ed70675d1b78c60c.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7a298e4d1b42d5d0485b479c3bcf69bf/@font-face/7250d52844cced73ed70675d1b78c60c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7a298e4d1b42d5d0485b479c3bcf69bf/@font-face/7250d52844cced73ed70675d1b78c60c.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 XBlack It";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7ded04d499cfd92c5afc12ffac484c5a/@font-face/5ef047f0e72e70adeba30f0c829c33e0.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7ded04d499cfd92c5afc12ffac484c5a/@font-face/5ef047f0e72e70adeba30f0c829c33e0.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7ded04d499cfd92c5afc12ffac484c5a/@font-face/5ef047f0e72e70adeba30f0c829c33e0.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7ded04d499cfd92c5afc12ffac484c5a/@font-face/5ef047f0e72e70adeba30f0c829c33e0.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7ded04d499cfd92c5afc12ffac484c5a/@font-face/5ef047f0e72e70adeba30f0c829c33e0.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_7ded04d499cfd92c5afc12ffac484c5a/@font-face/5ef047f0e72e70adeba30f0c829c33e0.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Light It";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_19d2b951c44c457e1bc515a2e9e486fb/@font-face/7f69054324b2adbc60f29dfd260c3d30.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_19d2b951c44c457e1bc515a2e9e486fb/@font-face/7f69054324b2adbc60f29dfd260c3d30.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_19d2b951c44c457e1bc515a2e9e486fb/@font-face/7f69054324b2adbc60f29dfd260c3d30.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_19d2b951c44c457e1bc515a2e9e486fb/@font-face/7f69054324b2adbc60f29dfd260c3d30.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_19d2b951c44c457e1bc515a2e9e486fb/@font-face/7f69054324b2adbc60f29dfd260c3d30.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_19d2b951c44c457e1bc515a2e9e486fb/@font-face/7f69054324b2adbc60f29dfd260c3d30.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Italic";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_059c6c90764b5b58f635dc550a3dd784/@font-face/0aa6b2719638cacfa0e8abce9099a39b.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_059c6c90764b5b58f635dc550a3dd784/@font-face/0aa6b2719638cacfa0e8abce9099a39b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_059c6c90764b5b58f635dc550a3dd784/@font-face/0aa6b2719638cacfa0e8abce9099a39b.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_059c6c90764b5b58f635dc550a3dd784/@font-face/0aa6b2719638cacfa0e8abce9099a39b.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_059c6c90764b5b58f635dc550a3dd784/@font-face/0aa6b2719638cacfa0e8abce9099a39b.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_059c6c90764b5b58f635dc550a3dd784/@font-face/0aa6b2719638cacfa0e8abce9099a39b.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Bold";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_073d72f89a764f9fcbc574a8bd4cb553/@font-face/bb87c8dd3cc47b366f6bb7738fee180c.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_073d72f89a764f9fcbc574a8bd4cb553/@font-face/bb87c8dd3cc47b366f6bb7738fee180c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_073d72f89a764f9fcbc574a8bd4cb553/@font-face/bb87c8dd3cc47b366f6bb7738fee180c.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_073d72f89a764f9fcbc574a8bd4cb553/@font-face/bb87c8dd3cc47b366f6bb7738fee180c.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_073d72f89a764f9fcbc574a8bd4cb553/@font-face/bb87c8dd3cc47b366f6bb7738fee180c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_073d72f89a764f9fcbc574a8bd4cb553/@font-face/bb87c8dd3cc47b366f6bb7738fee180c.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Heavy";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_559d73454fad999c45ebbdaaa3ebacdd/@font-face/d04fc9492a6f504ee79cb87d63393fe0.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_559d73454fad999c45ebbdaaa3ebacdd/@font-face/d04fc9492a6f504ee79cb87d63393fe0.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_559d73454fad999c45ebbdaaa3ebacdd/@font-face/d04fc9492a6f504ee79cb87d63393fe0.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_559d73454fad999c45ebbdaaa3ebacdd/@font-face/d04fc9492a6f504ee79cb87d63393fe0.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_559d73454fad999c45ebbdaaa3ebacdd/@font-face/d04fc9492a6f504ee79cb87d63393fe0.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_559d73454fad999c45ebbdaaa3ebacdd/@font-face/d04fc9492a6f504ee79cb87d63393fe0.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Heavy It";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_507355e12251f27746763ec4f975a633/@font-face/a9820d1a66a09f97371b7ec92a271a92.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_507355e12251f27746763ec4f975a633/@font-face/a9820d1a66a09f97371b7ec92a271a92.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_507355e12251f27746763ec4f975a633/@font-face/a9820d1a66a09f97371b7ec92a271a92.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_507355e12251f27746763ec4f975a633/@font-face/a9820d1a66a09f97371b7ec92a271a92.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_507355e12251f27746763ec4f975a633/@font-face/a9820d1a66a09f97371b7ec92a271a92.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_507355e12251f27746763ec4f975a633/@font-face/a9820d1a66a09f97371b7ec92a271a92.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Light";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_c59b16964f2eec693c72eb9c925ef088/@font-face/145bf6f8eebf1ad036f74d821af7d94b.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_c59b16964f2eec693c72eb9c925ef088/@font-face/145bf6f8eebf1ad036f74d821af7d94b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_c59b16964f2eec693c72eb9c925ef088/@font-face/145bf6f8eebf1ad036f74d821af7d94b.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_c59b16964f2eec693c72eb9c925ef088/@font-face/145bf6f8eebf1ad036f74d821af7d94b.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_c59b16964f2eec693c72eb9c925ef088/@font-face/145bf6f8eebf1ad036f74d821af7d94b.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_c59b16964f2eec693c72eb9c925ef088/@font-face/145bf6f8eebf1ad036f74d821af7d94b.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Medium It";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_d179b86ccc44b19f872ad2ce5d9141f0/@font-face/2a415f48f53c15b960c82ad93f0a2ee0.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_d179b86ccc44b19f872ad2ce5d9141f0/@font-face/2a415f48f53c15b960c82ad93f0a2ee0.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_d179b86ccc44b19f872ad2ce5d9141f0/@font-face/2a415f48f53c15b960c82ad93f0a2ee0.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_d179b86ccc44b19f872ad2ce5d9141f0/@font-face/2a415f48f53c15b960c82ad93f0a2ee0.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_d179b86ccc44b19f872ad2ce5d9141f0/@font-face/2a415f48f53c15b960c82ad93f0a2ee0.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_d179b86ccc44b19f872ad2ce5d9141f0/@font-face/2a415f48f53c15b960c82ad93f0a2ee0.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Thin";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e0d1d8bcd90f325e7a7f4a8b9636d78a/@font-face/740a2bcf13582a2a0ed99e15dffe7b9f.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e0d1d8bcd90f325e7a7f4a8b9636d78a/@font-face/740a2bcf13582a2a0ed99e15dffe7b9f.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e0d1d8bcd90f325e7a7f4a8b9636d78a/@font-face/740a2bcf13582a2a0ed99e15dffe7b9f.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e0d1d8bcd90f325e7a7f4a8b9636d78a/@font-face/740a2bcf13582a2a0ed99e15dffe7b9f.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e0d1d8bcd90f325e7a7f4a8b9636d78a/@font-face/740a2bcf13582a2a0ed99e15dffe7b9f.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e0d1d8bcd90f325e7a7f4a8b9636d78a/@font-face/740a2bcf13582a2a0ed99e15dffe7b9f.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Bold It";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e4e54e1eb6c480425902156a32fef7d6/@font-face/61742cae2dd974e3c9604f614a4c57f1.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e4e54e1eb6c480425902156a32fef7d6/@font-face/61742cae2dd974e3c9604f614a4c57f1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e4e54e1eb6c480425902156a32fef7d6/@font-face/61742cae2dd974e3c9604f614a4c57f1.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e4e54e1eb6c480425902156a32fef7d6/@font-face/61742cae2dd974e3c9604f614a4c57f1.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e4e54e1eb6c480425902156a32fef7d6/@font-face/61742cae2dd974e3c9604f614a4c57f1.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e4e54e1eb6c480425902156a32fef7d6/@font-face/61742cae2dd974e3c9604f614a4c57f1.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Medium";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e009de3bc4003d481f48e90c6efd332f/@font-face/9c0afb6841117a1e2256b49b040cb768.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e009de3bc4003d481f48e90c6efd332f/@font-face/9c0afb6841117a1e2256b49b040cb768.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e009de3bc4003d481f48e90c6efd332f/@font-face/9c0afb6841117a1e2256b49b040cb768.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e009de3bc4003d481f48e90c6efd332f/@font-face/9c0afb6841117a1e2256b49b040cb768.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e009de3bc4003d481f48e90c6efd332f/@font-face/9c0afb6841117a1e2256b49b040cb768.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_e009de3bc4003d481f48e90c6efd332f/@font-face/9c0afb6841117a1e2256b49b040cb768.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Neue Haas Unica W06 Black It";
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_f0d250fc9c4208c6c78408a38db68150/@font-face/15e7a19454566924256299df2a72ab91.eot"); /* IE9*/
    src: url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_f0d250fc9c4208c6c78408a38db68150/@font-face/15e7a19454566924256299df2a72ab91.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_f0d250fc9c4208c6c78408a38db68150/@font-face/15e7a19454566924256299df2a72ab91.woff") format("woff2"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_f0d250fc9c4208c6c78408a38db68150/@font-face/15e7a19454566924256299df2a72ab91.woff2") format("woff"), /* chrome、firefox */
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_f0d250fc9c4208c6c78408a38db68150/@font-face/15e7a19454566924256299df2a72ab91.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/Blog/main/fonts/NeueHaasUnicaW06/OnlineWebFonts_COM_f0d250fc9c4208c6c78408a38db68150/@font-face/15e7a19454566924256299df2a72ab91.svg#Neue Haas Unica W06 X Black") format("svg"); /* iOS 4.1- */
}
a {
    text-decoration:none;
    color:black;
    display: block;
}
html, body{
    height: 100%;
}
body{
    margin: 0;
    background: lightgray;
}
.main_menu{
    background-color: white;
    position: fixed;
    z-index:1;
    text-align: center;
    padding-top:100px;
    width: 100%;
    height: 70px;
    list-style: none;
}
.inner_main_menu ul {
    position: absolute;
    left:10%;
    width:80%;
    padding: 0;
    margin-top: 16px;
}
.inner_main_menu .fauske, .resources, .forces, .projects, .vision, .about_us {
    font-family:"Neue Haas Unica W06 Regular", Helvetica, sans-serif !important;
    font-size:35px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 6px;
    line-height: 43px;
    display: inline-block;
    position: absolute;
}
.inner_main_menu ul li{
    display: block;
    float: left;
    clear: both;
}
ul.submenu, ul.subsubmenu{
    z-index: 2;
    background-color: gray;
    visibility: hidden;
    position: absolute;
    left: 0;
    width: auto;
    white-space: nowrap;
    margin-top:6px;
    text-align: left;
}
ul.subsubmenu{
    margin-top:0;
    column-count:2;
    column-width: fit-content;
    column-gap:0;
    overflow: hidden;
}
.fauske ul.subsubmenu{
    right: auto;
    left: 100%;
}
.resources ul.subsubmenu{
    right: auto;
    left: 100%;
}
.forces ul.subsubmenu{
    right: auto;
    left: 100%;
}
.projects ul.subsubmenu{
    left: auto;
    right: 100%;
    float: right;
}
.vision ul.subsubmenu{
    left: auto;
    right: 100%;
    float: right;
}
.about_us ul.subsubmenu{
    left: auto;
    right: 100%;
    float: right;
}
.subsubmenu li ul{
    margin-top:-12px;
    width: 200px;
    left: 0;
    position: relative;
    float: left;
    overflow: hidden;
}
ul.subsubmenu > li > a{
    line-height: 40px;
    display: block;
}
.subsubmenu li ul li a{
    font-family:"Neue Haas Unica W06 Thin", Helvetica, sans-serif !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    line-height: 25.7px;
    padding-bottom: 0;
    display: block;
}
.submenu a{
    font-size: 24px;
    line-height: 34.2px;
    padding:6px;
    float: left;
    clear: both;
    white-space: nowrap;
    display: block;
}
.submenu.open, .subsubmenu.open {
    visibility: visible;
}
.fauske {
    left: 0;
}
.resources {
    left: 11%
}
.forces {
    left: 32%;
}
.projects {
    right: 32%;
}
.vision {
    right: 14%
}
.about_us {
    right: 0;
}
.active{
    background-color: red;
}
.active > a{
    color: #D5D5D5;
}
.inner_main_menu > li:hover{
    -moz-transition: background-color .4s ease-in;
    -o-transition: background-color .4s ease-in;
    -webkit-transition: background-color .4s ease-in;
    transition: background-color .4s ease-in;
    background-color: red;
}
.inner_main_menu li, .inner_main_menu a:hover{
    color: #D5D5D5;
}
.logo {
    position: absolute;
    left: 50%;
    transform: scale(0.11, 0.11);
    margin-left: -125px;
    top: -155px;
    content: "";
    z-index: 999;
}
.text{
    position: absolute;
    left: 50%;
    margin-top:-80px;
    margin-left: -100px;
    word-break: break-word;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: Pacifica_Condensed_Regular, avenir-lt-w01_35-light1475496, sans-serif;
    width: 200px;
    cursor: pointer;
    z-index: 999;
}
.menu_container{
    display: none;
    position: absolute;
    right: 10%;
    cursor: pointer;
}
.bar1, .bar2, .bar3{
    position: absolute;
    width: 60px;
    height: 10px;
    background-color: white;
    transition: 0.4s;
    right: 1%;
    z-index: 4;
}
.bar1{
    margin-top: 0px;
}
.bar2{
    margin-top: 20px;
}
.bar3{
    margin-top: 40px;
}
.snippet_container{
    background-color: rgba(238, 238, 238, 1);
    position: relative;
    margin-top: 150px;
    margin-bottom: 100px;
    width: 80%;
    padding-bottom: 0.5%;
    left:10%;
}
.snippet_container img{
    left: 0;
    width: 100%;
}
.snippet_container ul li a{
    color: black;
    font-family:"Neue Haas Unica W06 Regular", Helvetica, sans-serif !important;
    font-size:24px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 29px;
}
.snippet_container ul li{
    color: black;
    font-family:"Neue Haas Unica W06 Regular", Helvetica, sans-serif !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 27px;
}
.source a{
    color: red;
}
.image{
    opacity: 100%;
    width: 98%;
}
h1 {
    width:80%;
    column-span: all;
    font-family:"Neue Haas Unica W06 Medium", Helvetica, sans-serif !important;
    font-size:35px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 43px;
    padding: 6px;
    color: black;
}
h2 {
    font-family:"Neue Haas Unica W06 Regular", Helvetica, sans-serif !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding: 6px;
    font-size: 24px;
    line-height: 29px;
}
h3 {
    font-family:"Neue Haas Unica W06 thin", Helvetica, sans-serif !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding: 6px;
    line-height: 26px;
}
.button{
    float: left;
    color: white;
    background-color: red;
    margin: 20px;
    width: 40%;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}
.button a:hover{
    color: #D5D5D5;
}
.left {
    position: relative;
    float: left;
    left: 0;
    width: 100%;
    height: 99%;
}
.top_color{
    height: 170px;
}
.instagram{
    position: relative;
    margin: 40px;
    top: 40px;
}
.map{
    display: block;
    background: white;
}
.footer{
    position: relative;
    clear: both;
    width: 100%;
    background-color: rgba(255,0,0,0.8);
    height: 200px;
    text-align: center;
    color: white;
}
.footer ul{
    font-family:"Neue Haas Unica W06 Regular", Helvetica, sans-serif !important;
    font-size:35px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 43px;
    position: absolute;
    left: 10%;
    width: 80%;
    list-style: none;
    padding: 6px;
}
.footer ul li:nth-child(1){
    float: left;
}
.footer ul li:nth-child(2){
    display: inline-block;
}
.footer ul li:nth-child(3){
    float: right;
}
embed{
    float: left;
    position: relative;
    left: 10%;
    height: 100%;
    width: 80%;
    column-span: all;
}