.subnavbar{
    position: fixed;
    background-color: rgb(86, 86, 86);
    z-index:1;
    margin-top: 70px;
    width: 100%;
}
.subnavbar ul {
    display: table;
    position: relative;
    left:10%;
    width:80%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.subnavbar ul li {
    font-family:"Neue Haas Unica W06 Thin", Helvetica, sans-serif;
    font-size:24px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 34px;
    padding-top: 12px;
    padding-bottom: 6px;
    display: table-cell;
    text-align: center;
}
.bold {
    font-family: "Neue Haas Unica W06 Regular", Helvetica, sans-serif !important;
}