.position{
    margin:0;
    font-family: 'Neue Haas Unica W06 Bold', Helvetica, sans-serif !important;
}
.snippet_container a{
    color: black !important;
    text-decoration: underline;
}
.snippet_container a:hover{
    color: gray !important;
}